<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

    <footer class="footer">
        <div class="footer-container">
            
            <div class="footer-links">
                <div class="foooter-h2"> 
                    <h2>
                        <a href="/">
                             <span>Хатинка Лапок</span>
                        </a>
                    </h2>
                </div>

                <nav>
                    <ul>
                        <li><a href="#about">Про нас</a></li>
                        <li><a href="#find-friend">Знайти друга</a></li>
                        <li><a href="#faq">Часті запитання</a></li>
                        <li><a href="#stories">Історії успіху</a></li>
                    </ul>
                </nav>
            </div>

            <div class="footer-icons">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                            
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
    
                        </a>
                    </li>
                </ul>
            </div>

            <hr>

            <div class="footer-copyright">
                <p>© 2025 Хатинка лапок. Всі права захищені.</p>
            </div>
        </div>
    </footer>
</body>
</html>